
.search input{

    width: 100%;
    transition: all .3s;
  background-color: rgba(255, 255, 255, 0); /* 白色半透明 */
  backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
  -webkit-backdrop-filter: blur(2px) saturate(120%);
  border-radius: 16px; /* 圆角 */
}
